{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block content %}
<div class="container mt-4">
    <div class="card border-info">
        <div class="card-header bg-info text-white">
            <h3 class="mb-0"><i class="fas fa-box"></i> Мои заказы</h3>
        </div>
        
        <div class="card-body">
            {% if orders %}
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Заказ №</th>
                                <th class="text-center">Дата</th>
                                <th class="text-center">Статус</th>
                                <th class="text-center">Сумма</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                
                                <td><a  href="{% url 'orders:detail_order' order.id  %}">{{ order.order_number }}</a></td>
                                <td class="text-center">{{ order.updated|date:"d.m.Y H:i" }}</td>
                                <td class="text-center">{{ order.get_status_display }}</td>
                                <td class="text-center">{{ order.get_total_price|floatformat:2 }} ₽</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-warning text-center">
                    <i class="fas fa-shopping-cart fa-lg me-2"></i> У вас пока нет заказов
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
