<nav class="navbar navbar-expand-sm navbar-dark bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'users:profile' %}">{{request.user.username}}</a>
        <a class="navbar-brand" href="{% url 'cart:cart-view' %}">
            <i class="fas fa-shopping-cart"></i> 
                <span id="lblCartCount">
                    {% with cart_qty=cart|length%}
                    {% if cart_qty > 0 %}
                        {{cart_qty}}                
                    {% endif %}
                        
                    {% endwith %}
                </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products:list' %}"><i class="fas fa-box"></i> Товары</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'orders:list_order' %}"><i class="fas fa-receipt"></i> Мои заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:edit' %}"><i class="fas fa-lock"></i> Изменить пароль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}"><i class="fas fa-sign-out-alt"></i> Выйти</a>
                </li>
            </ul>        
        </div>
    </div>
</nav>
